<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="COMMON" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logHome}/common.log"/>
        <param name="Append" value="false"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyy HH:mm:ss} %-5p [%c:%L] %m%n"/>
        </layout>
    </appender>
    <category name="org.renci.common">
        <priority value="DEBUG"/>
        <appender-ref ref="COMMON"/>
    </category>
</log4j:configuration>
